name: dry run

on:
  workflow_dispatch:
    inputs:
      path:
        default: renovate.json5
        description: file path
        required: true
        type: string

env:
  TZ: Asia/Tokyo

jobs:
  dry-run:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: 'package.json'
      - run: npm install -g npm@$(jq -r '.engines.npm' package.json)
      - id: npm-cache
        run: echo "dir=$(npm config get cache)" | tee -a "$GITHUB_OUTPUT"
      - id: cache-key
        run: >
          echo 'suffix=${{ format('{0}-{1}-{2}', runner.os, runner.arch, hashFiles('package-lock.json')) }}'
          | tee -a "$GITHUB_OUTPUT"
      - id: restore-cache
        uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
          restore-keys: |
            npm-${{ steps.restore-key.outputs.suffix }}
            npm-
      - if: steps.restore-cache.outputs.cache-hit != 'true'
        run: npm ci --ignore-scripts
        env:
          NPM_CONFIG_AUDIT: false
          NPM_CONFIG_PROGRESS: false
          NPM_CONFIG_PREFER_OFFLINE: true
      - run: npm rebuild && npm run prepare --if-present
      - id: file
        run: echo "name=${GITHUB_REF_NAME//\//__}" | tee -a "$GITHUB_OUTPUT"
      - run: >
          npx renovate --dry-run=full --print-config=true '${{ github.repository }}'
          | tee "${GITHUB_REF_NAME//\//__}.txt"
        env:
          LOG_LEVEL: debug
          RENOVATE_BASE_BRANCHES: ${{ github.ref_name }}
          RENOVATE_CONFIG_FILE: ${{ inputs.path }}
          RENOVATE_GIT_AUTHOR: 'renovate[bot] <29139614+renovate[bot]@users.noreply.github.com>'
          RENOVATE_TOKEN: ${{ github.token }}
          RENOVATE_USERNAME: renovate[bot]
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          if-no-files-found: error
          include-hidden-files: false
          name: 'renovate-log-${{ steps.file.outputs.name }}'
          overwrite: true
          path: '${{ steps.file.outputs.name }}.txt'
          retention-days: 1
      - if: github.ref_name == 'main'
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            node_modules
            ${{ steps.npm-cache.outputs.dir }}
          key: npm-${{ steps.cache-key.outputs.suffix }}
