name: test

on:
  - push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Tokyo

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: 'package.json'
      - run: npm install -g npm@$(jq -r '.devEngines.packageManager.version' package.json)
      - uses: openameba/action-npm-cache/restore@bc5633e94971615a98562d936df5a4c20b8ef1fc # v1.1.0
      - run: npm test
      - if: github.ref_name == 'main'
        uses: openameba/action-npm-cache/save@bc5633e94971615a98562d936df5a4c20b8ef1fc # v1.1.0
